################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeyReceiver/bin
/KeyReceiver/obj
/.vs/KeyReceiver/v15/Server/sqlite3
